
body {
    margin-top: 0%;
    background-image: url(../images/redox_01_@2X.png);

}

.navbar {
    display:flex;
    background-color: #ffffff;
    border-bottom:2px solid #cccccc;

}

header {
    display:inline-block;
    padding:10px;
    margin:150px;
    margin-top:0%;
    margin-bottom:0%;
    background-color: #4aaaa5;
    color: white; 
    font-family:'Georgia', Times, Times New Roman, serif;
    
        
}

hr {
    margin-top: 0%;
}

.links {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    display: flex;
    margin-left: 10px; 
    color: #777777;
    
}

ul li a{
    text-decoration: none;
    
}
.bio {
    width: 960px;
    padding: 10px;
    padding-bottom: 2px;
    border: 1px solid #cccccc;
    margin-top: 2%;
    margin-right: 10%;
    margin-left: 17%;
    margin-bottom: 140px;
    resize: vertical;
    background-color: #ffffff;
    
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding-top: 5px
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;


}

    h2 {
    font-family:'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
    margin-left: 30px;

}

input[type=submit] {
    align-items: center;
    background-color: #4aaaa5;
    color: #fff;
    font-size: 1em;
    justify-content: flex-start;
    margin-left: 5px;
    padding: 5px 15px;
  
}


footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    position: sticky;
    bottom: 0;
    width: 100vw;
    height:60px;
    margin-top:60%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #ffffff;
}